<!--
Credits
This site is open source and its content is Creative Commons licensed.
-->

<h2>クレジット</h2>
<p>このサイトは<a href='http://github.com/rubygems/guides'>オープンソース</a>であり、内容は<a href='https://github.com/rubygems/guides/blob/gh-pages/CC-LICENSE'>クリエイティブ・コモンズ</a>ライセンスです。</p>

<hr />

<!--
Contributors

These people have donated time to creating and improving the RubyGems Guides site:
-->

<h3 id='contributors'>コンテンツ提供者</h3>

<p>以下の人々はRubyGemsのガイドサイトの作成や改善に時間を寄進しました。</p>

<ul>
<li><a href='https://github.com/gabebw'>Gabe Berke-Williams</a></li>

<li><a href='https://github.com/sandal'>Gregory Brown</a></li>

<li><a href='https://github.com/amaia'>Amaia Castro</a></li>

<li><a href='https://github.com/zenspider'>Ryan Davis</a></li>

<li><a href='https://github.com/vijaydev'>Vijay Dev</a></li>

<li><a href='https://github.com/edzhelyov'>Evgene Dzhelyov</a></li>

<li><a href='https://github.com/ffmike'>Mike Gunderloy</a></li>

<li><a href='https://github.com/cldwalker'>Gabriel Horner</a></li>

<li><a href='https://github.com/jdleesmiller'>John Lees-Miller</a></li>

<li><a href='https://github.com/markmcspadden'>Mark McSpadden</a></li>

<li><a href='https://github.com/sferik'>Erik Michaels-Ober</a></li>

<li><a href='https://github.com/smoak'>Scott Moak</a></li>

<li><a href='https://github.com/jasonm'>Jason Morrison</a></li>

<li><a href='https://github.com/rkneufeld'>Ryan Neufeld</a></li>

<li><a href='https://github.com/qrush'>Nick Quaranto</a></li>

<li><a href='https://github.com/spier'>Sebastian Spier</a></li>

<li><a href='https://github.com/terceiro'>Antonio Terceiro</a></li>

<li><a href='https://github.com/thrackle'>thrackle</a></li>
</ul>

<hr />

<!--
Acknowledgments
Material for the Guides was adapted from these sources:
-->

<h3 id='acknowledgments'>謝辞</h3>

<p>ガイドの材料は、これらのサイトから翻案されました。</p>

<ul>
<li><a href='http://weblog.rubyonrails.org/2009/9/1/gem-packaging-best-practices'>Gem Packaging: Best Practices</a></li>

<li><a href='http://rubylearning.com/blog/2010/10/06/gem-sawyer-modern-day-ruby-warrior/'>Gem Sawyer, Modern Day Ruby Warrior</a></li>

<li><a href='http://blog.segment7.net/2010/11/15/how-to-name-gems'>How to Name Gems</a></li>

<li><a href='http://yehudakatz.com/2009/07/24/rubygems-good-practice/'>Rubygems Good Practice</a></li>

<li><a href='http://tenderlovemaking.com/2009/12/18/writing-ruby-c-extensions-part-1'>Writing Ruby C extensions: Part 1</a></li>

<li><a href='http://tenderlovemaking.com/2010/12/11/writing-ruby-c-extensions-part-2'>Writing Ruby C extensions: Part 2</a></li>
</ul>

<hr />

<h3 id='hosting'>ホスティング</h3>

<p>Hosted by <a href='http://pages.github.com/'>GitHub Pages</a>.</p>