
<h3>日本語翻訳サイトの注釈</h3>
<div class="alert alert-info">
  当サイトは、本家サイトである <a href="http://guides.rubygems.org/">RubyGems Guides（English）</a> を日本語翻訳したものです。<br />
  本家サイトは <a href="https://github.com/rubygems/guides"> オープンソース</a> であり、<a href="http://creativecommons.org/licenses/by/3.0/">クリエイティブ・コモンズ・ライセンス</a> により、複製・改変が許可されています。<br />
  当サイトもまた、オープンソースであり、クリエイティブ・コモンズ・ライセンスです。<br />
  なお、当方の英語力では原文を完全に翻訳できておらず、内容の誤りも多くあると思います。<br />
  内容の補完・修正にご協力頂ける方は GitHub にてお願い致します。
</div>

<hr />

<!--RubyGems Guides-->
<!--Learn how RubyGems works, and how to make your own.-->

<h1>
	RubyGemsガイド<br />
	<small>RubyGemsの動作や作り方を説明します。</small>
</h1>

<hr />

<!--What is a gem?-->
<h3><a href="/what-is-a-gem/">gemとは何か？</a></h3>
<!--Unpack the mystery behind what’s in a RubyGem.-->
<p>RubyGemの裏にある謎をひも解きます。</p>

<!--Make your own gem-->
<h3><a href="/make-your-own-gem/">あなたのgemを作ろう</a></h3>
<!--Start with an idea, end with a distributable package of Ruby code.-->
<p>アイディアから始まり、再配布可能なRubyコードのパッケージにします。</p>

<!--Patterns-->
<h3><a href="/patterns/">パターン</a></h3>
<!--Common gem packaging patterns and recommendations for building yours.-->
<p>一般的なgemパッケージパターンと、作成の推奨事項について。</p>

<!--Specification Reference-->
<h3><a href="/specification-reference/">仕様のリファレンス</a></h3>
<!--Learn about the data in each gem package and how you can configure it.-->
<p>gemパッケージ内のデータと設定方法について説明します。</p>

<!--Command Reference-->
<h3><a href="/command-reference/">コマンドリファレンス</a></h3>
<p>In depth coverage of each gem command.</p>

<!--RubyGems.org API-->
<h3><a href="/rubygems-org-api/">RubyGems.org API</a></h3>
<!--Interact with publicly available gems over HTTP.-->
<p>HTTP経由で利用可能なgemと対話します。</p>

<!--Run your own gem server-->
<h3><a href="/run-your-own-gem-server/">自分のgemサーバを運営します</a></h3>
<!--Need to serve gems locally or for your organization? Go here.-->
<p>ローカルや組織のgemを提供する必要はありますか？　ここを見て下さい</p>

<!--C Extensions-->
<h3><a href="/c-extensions/">C言語拡張機能</a></h3>
<!--Learn how to make a gem that interacts with C code.-->
<p>C言語と相互作用するgemの作り方を説明します。</p>

<!--Resources-->
<h3><a href="/resources/">リソース（情報源）</a></h3>
<!--Great blog posts, tutorials, and other sites to help you out.-->
<p>ブログ記事やチュートリアル、その他の参考サイト。</p>

<!--Contributing to RubyGems-->
<h3><a href="/contributing/">RubyGemsへの貢献</a></h3>
<p>How you can help make RubyGems and the surrounding ecosystem better.</p>

<!--Frequently Asked Questions-->
<h3><a href="/faqs/">FAQ（よくある質問）</a></h3>
<p>More of the “why” and “wtf” than “how”.</p>

<!--Plugins-->
<h3><a href="/plugins/">プラグイン</a></h3>
<!--Extensions that use the RubyGems plugin API.-->
<p>RubyGemsプラグインAPIを使う拡張機能について。</p>

<!--Credits-->
<h3><a href="/credits/">クレジット</a></h3>
<!--This site is open source and its content is Creative Commons licensed.-->
<p>このサイトはオープンソースであり、内容はクリエイティブコモンズライセンスです。</p>

