<!DOCTYPE html>
<html lang="ja">
  	<head>
	    <meta charset="utf-8">
	    <title>RubyGems Guides for Japanese</title>
	    <meta name="keywords" content="RubyGems Guide ガイド 日本語">
		<meta name="description" content="RubyGemsGuidesを日本語翻訳します。">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    
		<link rel="shortcut icon" href="/img/favicon.ico">
	    
	    <!-- Le styles -->
	    <link href="/css/bootstrap.min.css" rel="stylesheet">
	    <style type="text/css">
	    	body {
	        	padding-top: 60px;
	        	padding-bottom: 40px;
	    	}
	    	.sidebar-nav {
	        	padding: 9px 0;
	    	}
	    </style>
	    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	
	    <!-- Le fav and touch icons -->
	</head>

	<body>
  	
    <div class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
        	<div class="container">
          		<a class="brand" href="/">RubyGems Guides for Japanese</a>
        	</div>
      	</div>
    </div>
    
    <div class="container">      
    	<div class="row">
    		<div class="span9">
    			<%= yield %>
    		</div>
			<div class="span3">
				<img src="/img/rubygems_icon.png" />
				<ul class="nav nav-tabs nav-stacked">
					<!--What is a gem?-->
					<li><a href="/what-is-a-gem/">gemとは何か？</a></li>
					<li><a href="/make-your-own-gem/">あなたのgemを作ろう</a></li>
					<li><a href="/patterns/">パターン</a></li>
					<li><a href="/specification-reference/">仕様のリファレンス</a></li>
					<li><a href="/command-reference/">コマンドリファレンス</a></li>
					<li><a href="/rubygems-org-api/">RubyGems.org API</a></li>
					<li><a href="/run-your-own-gem-server/">自分のgemサーバを運営します</a></li>
					<li><a href="/c-extensions/">C言語拡張機能</a></li>
					<li><a href="/resources/">リソース（情報源）</a></li>
					<li><a href="/contributing/">RubyGemsへの貢献</a></li>
					<li><a href="/faqs/">FAQ（よくある質問）</a></li>
					<li><a href="/plugins/">プラグイン</a></li>
					<li><a href="/credits/">クレジット</a></li>
				</ul>
			</div>
		</div>
		
		<hr />

	    <footer>
	        <p>author <a href="https://twitter.com/bisque33">@bisque33</a> | these guides are open source and <a href="http://creativecommons.org/licenses/by/3.0/">free to remix</a>.</p>
	    </footer>

    </div><!--/container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <!--
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
	-->

	</body>
</html>

